# This is the only value that really needs to bet set in the environment
JWT_SECRET=

# These are the default values that are set even if not in env and
# should be changed in an production environment
DATABASE_USER=vivery
DATABASE_PASSWORD=vivery
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=vivery
DATABASE_SSLMODE=disable

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_PROTOCOL_VERSION=2

HOST=localhost
PORT=3000

ALLOWED_ORIGINS=localhost:3000

JWT_EXP_MINUTES=5
REFRESH_EXP_DAYS=7
BCRYPT_COST=12

PUBLIC_IP=169.254.169.254
DOMAINS=example.com,sub.example.com,127.0.0.1
