DATABASE_USER=vivery
DATABASE_PASSWORD=vivery
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=vivery
DATABASE_SSLMODE=disable

JWT_SECRET=

HOST=localhost
PORT=3000

ALLOWED_ORIGINS=localhost:3000

JWT_EXP_MINUTES=5
REFRESH_EXP_DAYS=7
BCRYPT_COST=12

PUBLIC_IP=169.254.169.254
DOMAINS=example.com,sub.example.com,127.0.0.1
